<h1> View Employee </h1>
<h4>Name:</h4>
<%= @employee.name %>
<br>
<h4>Teams:</h4>
<% @employee.teams.each do |team| %>
  <%= team.name %>
  <br>
<% end %>
<h4> Supervisor: </h4>
<%= @employee.supervisor.try(:name) || "None Assigned" %>
<br>
<h3> Profile: </h3>
<p><h4>Height:</h4>
<%= @employee_profile.height %>"</p>
<p><h4>Age:</h4>
<%= @employee_profile.age %></p>
<p><h4>Favorite Food:</h4>
<%= @employee_profile.favorite_food %></p>
<p><h4>Favorite Day:</h4>
<%= @employee_profile.favorite_day %></p>
<p><h4>Date of Birth:</h4>
<%= @employee_profile.date_of_birth %></p>
<p><h4>Salary:</h4>
<%= number_to_currency(@employee_profile.salary) %></p>
<br><br>
<%= link_to 'Edit Employee Record', edit_employee_url%>